    body {
        background: #eeeeee;
        width: 1440px;
        height: 5020px;
        margin: 0 auto;
    }
    /*Cabezera*/
    
    .nombremenu {
        font-family: 'Raleway', sans-serif;
    }
    
    .cabezeraNavegar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .navegador {
        display: flex;
        align-items: center;
    }
    
    .botonesNav {
        display: flex;
    }
    
    .botonesMenunav {
        list-style: none;
    }
    
    .botonesMenunav a {
        text-decoration: none;
        color: black;
        width: auto;
        margin: 0 0 0 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
    }
    
    .textoNavegacion {
        width: 751px;
        height: 265px;
        background-color: #0abef5ce;
        margin-top: -356px;
        margin-left: 152px;
        margin-right: 537px;
    }
    
    .tituloPrincipal {
        text-align: justify;
        font-family: 'Raleway', sans-serif;
    }
    
    .menuRedes {
        display: flex;
        position: relative;
        right: 80px;
    }
    
    .redes {
        list-style: none;
    }
    
    .menuRedes a {
        margin: 0 0 0 40px;
        font-size: 16px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
    }
    
    .tituloPrincipal {
        font-size: 52px;
        font-family: 'Raleway', sans-serif;
    }
    
    .parrafo {
        text-align: justify;
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        margin-top: 24px;
        margin-bottom: 26.5px;
    }
    
    .fotoPerfil {
        width: 368px;
        height: 368px;
        border-radius: 50%;
        margin-top: 120px;
        margin-right: 152px;
        margin-left: 920px;
    }
    /*cuerpo*/
    
    .sobremi {
        border: 1px solid green;
        width: 100%;
        height: 520px;
        margin-top: 89px;
        background-color: #EAF2FD;
    }
    
    .textosobremi {
        text-align: left;
        margin-top: 64px;
        margin-left: 152px;
        margin-right: 1151px;
        margin-bottom: 16px;
        font-family: 'Raleway', sans-serif;
    }
    
    .parrafosobremi {
        margin-left: 152px;
        margin-right: 537px;
        margin-bottom: 132px;
        text-align: justify;
        font-family: 'Raleway', sans-serif;
    }
    
    .firma {
        width: 140px;
        height: 52px;
        margin-left: 152px;
        margin-right: 1148px;
        margin-top: 16px;
    }