    body {
        background: #eeeeee;
        width: 1440px;
        height: 5020px;
        margin: 0;
    }
    /*Cabezera*/
    
    .nombremenu {
        font-family: 'Raleway', sans-serif;
    }
    
    .nombremenu::before {
        content: '✧⁚'
    }
    
    .cabezeraNavegar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .navegador {
        display: flex;
        align-items: center;
    }
    
    .botonesNav {
        display: flex;
    }
    
    .botonesMenunav {
        list-style: none;
    }
    
    .botonesMenunav a {
        text-decoration: none;
        color: black;
        width: auto;
        margin: 0 0 0 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
    }
    
    .textoNavegacion {
        width: 751px;
        height: 265px;
        margin-top: -356px;
        margin-left: 152px;
        margin-right: 537px;
    }
    
    .tituloPrincipal {
        text-align: justify;
        font-family: 'Raleway', sans-serif;
    }
    
    .menuRedes {
        display: flex;
        position: relative;
        right: 80px;
    }
    
    .principalfototexto {
        width: 100%;
    }
    
    .redes {
        list-style: none;
    }
    
    .menuRedes a {
        margin: 0 0 0 40px;
        font-size: 16px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
    }
    
    .tituloPrincipal {
        font-size: 52px;
        font-family: 'Raleway', sans-serif;
    }
    
    .parrafo {
        text-align: justify;
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        margin-top: 24px;
        margin-bottom: 26.5px;
    }
    
    .fotoPerfil {
        width: 368px;
        height: 368px;
        border-radius: 50%;
        margin-top: 120px;
        margin-right: 152px;
        margin-left: 920px;
    }
    /*cuerpo*/
    
    .sobremi {
        width: 100%;
        height: 520px;
        margin-top: 89px;
        background-color: #EAF2FD;
    }
    
    .textosobremi {
        text-align: left;
        margin-top: 64px;
        margin-left: 152px;
        margin-right: 1151px;
        margin-bottom: 16px;
        font-family: 'Raleway', sans-serif;
    }
    
    .parrafosobremi {
        margin-left: 152px;
        margin-right: 537px;
        margin-bottom: 16px;
        text-align: justify;
        font-family: 'Raleway', sans-serif;
    }
    
    .firma {
        width: 140px;
        height: 52px;
        margin-left: 152px;
        margin-right: 1148px;
        margin-top: 0;
    }
    /* habilidades y hobbies*/
    
    .skillsHobbies {
        width: 100%;
        height: 540px;
        background: #F5F5F5;
    }
    
    .navSkillsHobbies {
        display: flex;
        flex-wrap: wrap;
    }
    
    .icono {
        color: #24abd4;
        margin: 0;
        position: relative;
        left: 25px;
        padding: 0;
        bottom: 40px;
        font-size: 32px;
    }
    
    .skill {
        margin-left: 679px;
        margin-right: 679px;
        margin-bottom: 32px;
        font-family: 'Raleway', sans-serif;
    }
    
    .cajasskill {
        display: flex;
        width: 176px;
        height: 174px;
        margin-left: 152px;
        margin-right: 16px;
        align-items: flex-end;
        font-family: 'Raleway', sans-serif;
        background-color: #EAF2FD;
        border-radius: 5px;
    }
    
    .Sh {
        list-style: none;
        margin-right: -147px;
    }
    
    .hobbies {
        margin-left: 679px;
        margin-right: 679px;
        font-family: 'Raleway', sans-serif;
    }
    
    .cajashobbies {
        display: flex;
        width: 176px;
        height: 174px;
        background-color: #EAF2FD;
        border-radius: 5px;
        margin-left: 152px;
        margin-right: 16px;
        align-items: flex-end;
        font-family: 'Raleway', sans-serif;
    }
    /*formacion academica*/
    
    .formacionAcademica {
        width: 100%;
        height: 518px;
        display: flex;
        align-items: center;
        background: #EAF2FD;
        margin: 0;
        position: relative;
        bottom: 80px;
    }
    
    .ingambiental,
    .alura-oracle,
    .senaAdsi {
        width: 368px;
        height: 350px;
        position: relative;
        left: 10%;
        margin-left: 16px;
    }
    
    .cajaBlancaSena {
        width: 368px;
        height: 286px;
        background: #FFFFFF;
    }
    
    .logounad,
    .logoalura,
    .logoadsi {
        width: 192px;
        height: 130px;
        position: relative;
        left: 25%;
        top: 25%;
    }
    
    .tituloFormacionAcademica {
        position: relative;
        z-index: 1;
        bottom: 190px;
        left: 40%;
        top: 20px;
        font-size: 32px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }
    
    .titulacion {
        font-size: 18px;
        margin: 0;
        font-family: 'Raleway', sans-serif;
    }
    
    .tiempotitulo {
        margin: 0;
        font-family: 'Raleway', sans-serif;
    }
    
    .proyectos {
        width: 100%;
        height: 1950px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .tituloProyecto {
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
    
    .paginaEncript {
        width: 1300px;
        height: 718px;
    }
    
    .piePagina {
        width: 100%;
        height: 788px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #EAF2FD;
    }
    
    .formulario {
        width: 656px;
        height: 632px;
        background: #EAF2FD;
    }
    
    .telefono {
        width: 464px;
        height: 593px;
    }
    
    .formu {
        display: flex;
        flex-direction: column;
        background: #EAF2FD;
    }
    
    .inputIngreso {
        width: 80%;
        height: 56px;
        margin-left: 20px;
        margin-top: 15px;
        box-shadow: 0 1px 2px;
        border: none;
    }
    
    label:hover {
        color: #2fd8e4;
    }
    
    .campotexto {
        width: 80%;
        height: 133px;
        margin-left: 20px;
        margin-top: 20px;
        box-shadow: 0 1px 2px;
        border: none;
    }
    
    .labeltexto {
        margin-left: 25px;
        position: relative;
        top: 32px;
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
    }
    
    .enviar {
        width: 144px;
        height: 51px;
        margin-left: 20px;
        margin-top: 10px;
        border: none;
        background: #24abd4;
        cursor: pointer;
        color: white;
        transition: 1s all;
    }
    
    .enviar:hover {
        background: #2fd8e4;
        transform: scale(1.2);
    }
    
    .tituloformulario {
        margin-left: 20px;
        margin-bottom: 0;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }
    
    .parrafocontactarte {
        padding: 0;
        margin-left: 20px;
        font-family: 'Raleway', sans-serif;
    }
    
    .pie {
        width: 100%;
        height: 102px;
        background: #FFFFFF;
        margin: 0;
    }
    
    .año,
    .final {
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }